$colorSelectSite: #f16d7f;

a {
  text-decoration: none;
}

.top-head__heading {
  color: $colorSelectSite;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  &:not(:last-child)::after {
    content: " /";
  }
  &_site {
    color: $colorSelectSite;
    font-weight: 700;
  }
}

.cart {
  &-button {
    color: #000;
background-color: #FFF;
    font-family: Lato;
    font-size: 11px;
    font-weight: 300;
    line-height: normal;
    padding: 16px 40px;
    border: 1px solid #a4a4a4;
  }
  &-wrapper {
  }
  &-product {
    &__item {
    }
  }
  &-order {
    &--button {
      font-size: 16px;
      background-color: #f16d7f;
      color: #fff;
      border: none;
    }
    &--submit {
      font-size: 11px;
      padding: 11px 14px;
    }
    &__header {
    }
    &__inputs {
    }
  }
}
