$widthContainer: 1140px;
$gap: 16px;
$border: 1px solid #000;

.content {
  display: flex;
  gap: $gap;
  &__item {
    width: calc($widthContainer / 4);
    border: $border;
    height: 200px;
  }
}


