@import "vars";
@import "mixins";
@import "inheritance";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  margin-left: calc(50% - $screenWidth/2);
  margin-right: calc(50% - $screenWidth/2);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

.header {
  &__one {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorMain;
  }

  &__greeting {
    display: flex;
    text-align: center;
    justify-content: center;

    &_color {
      color: $colorSite;
    }
  }
}

.nav {
  display: flex;
  justify-content: start;
  gap: $gap;
  margin-bottom: 20px;

  &__link {
    text-decoration: none;
    @extend %font-style;
  }
  &__text {
    color: $colorMain;
  }
  img {
    width: 100%;
  }
  .modify--class {
    text-align: center;
  }
}
.content {
  display: flex;
  gap: $gap;

  @include flex;

  &__item {
    width: calc($screenWidth / 4);
    border: $borderMain;
    height: 200px;
  }
}
