$gap: 16px;
.nav {
  display: flex;
  justify-content: center;
  gap: $gap;

  &__link {
    text-decoration: none;
  }
  &__text {
    color: red;
  }
  img {
    width: 100%;
  }
}

.modify--class {
text-align: center;
}
